@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  font-family: 'Inter', sans-serif;
}

@layer components
{
    .horizontal-scroll::-webkit-scrollbar {
        height: 3px;
      }
    
    .horizontal-scroll::-webkit-scrollbar-track {
        background: transparent; 
      }
    
    .horizontal-scroll::-webkit-scrollbar-thumb {
        background: #888; 
      }
    
    .horizontal-scroll::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }

    .vertical-scroll::-webkit-scrollbar {
        background: transparent; 
      }
}
